header {
	position: absolute;
	font-size: 50px;
	display: inline-block;
	margin-left: 20px;
}
input[type=button], input[type=submit] {
	background-color: crimson;
	border-style: solid;
	border-width: thin;
	border-color: black;
	color: white;
	padding: 4px;
	margin: 4px 2px;
	text-decoration: none;
	cursor: pointer;
	font-family: Nova Flat;
}
a {
	text-decoration: none;
	color: white;
}
a:hover {
	text-decoration: underline;
}

.theme {
	color: crimson;
}
.header {
	background-color: darkgray;
	overflow: visible;
}
.content {
	background-color: darkgray;
	height: 560px;
	overflow: hidden;
}
.bg {
	background-image: url("../images/maxresdefault.jpg");
	position: fixed;
	opacity: 0.4;
	width: 100%;
	height: 100%;
	background-repeat: round;
}
.logo {
	position: relative;
	margin: 5px 0px 0px 20px;
	height: 50px;
	width: 50px;
}
.rightheader {
	display: inline-block;
	position: absolute;
	left: 1130px;
}
.rightheader2 {
	display: inline-block;
	position: absolute;
	left: 750px;
}
.button1 {
	display: block;
	margin: 1px 0px 0px 155px;
	border-style: solid;
	border-width: thin;
	border-color: black;
	padding: 2px;
	background-color: crimson;
	color: white;
}
.leftcontent {
	display: block;
	position: absolute;
	background-color: white;
	width: 200px;
	height: 570px;
	overflow: visible;
}
.midcontent {
	display: block;
	position: absolute;
	margin: 20px 250px 0px 250px;
}
.midlogo {
	display: block;
	position: absolute;
	margin: 250px 500px 0px 600px;
}
.midcontent3 {
	display: block;
	position: absolute;
	margin: 350px 0px 0px 500px;
}
.midcontent4 {
	display: block;
	position: absolute;
	margin-top: 50px;
	margin-left: 550px;
}
.midcontent5 {
	display: block;
	position: absolute;
	margin: 120px 0px 0px 900px;
}
.rightcontent {
	display: block;
	position: absolute;
	overflow: visible;
	margin-left: 1150px;
	background-color: white;
	width: 200px;
	height: 570px;
}
.icons {
	display: inline-block;
	margin-left: 100px;
	width: 80px;
	height: 120px;
}
.icon {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 70px;
	height: 70px;
}
.icons2 {
	display: block;
	margin-left: 50px;
	width: 80px;
	height: 120px;
	float: left;
	clear: both;
}
.icon2 {
	width: auto;
	height: 70px;
}
.icondescription {
	display: inline-block;
	position: absolute;
	margin-left: 100px;
	padding-top: 20px;
	width: 650px;
	height: 120px;
	text-align: justify;
	color: black;
}