header {
	position: absolute;
	font-size: 50px;
	display: inline-block;
	margin-left: 20px;
}

.theme {
	color: crimson;
}
.header {
	background-color: darkgray;
	overflow: visible;
}
.content {
	background-color: darkgray;
	height: 560px;
	overflow: hidden;
}
.bg {
	background-image: url("maxresdefault.jpg");
	position: fixed;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}
.logo {
	position: relative;
	margin: 5px 0px 0px 20px;
	height: 50px;
	width: 50px;
}
.rightheader {
	display: inline-block;
	position: absolute;
	left: 1130px;
}
.button1 {
	display: block;
	margin: 1px 0px 0px 155px;
	border-style: solid;
	border-width: medium;
	border-color: black;
	padding: 1px;
	background-color: crimson;
	color: white;
}
.leftcontent {
	display: block;
	position: absolute;
	background-color: white;
	width: 200px;
	height: 570px;
	overflow: visible;
}
.midcontent {
	display: block;
	position: absolute;
	margin: 20px 250px 0px 250px;
	height: 500px;
}
.rightcontent {
	display: block;
	position: absolute;
	overflow: visible;
	margin-left: 1150px;
	background-color: white;
	width: 200px;
	height: 570px;
}
.icons {
	display: inline-block;
	margin-left: 50px;
	width: 80px;
	height: 120px;
}
.icon {
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	width: 70px;
	height: 70px;
}